body { margin: 0px; padding: 0px; color: rgb(119, 119, 119); font-style: normal; font-size: 12px; font-family: '??',verdana; line-height: 18px; }
div, ul, ol, li, dl, dt, dd, form, fieldset, input, button, p, h1, h2, h3, h4, h5, h6, blockquote, iframe, th, td { margin: 0px; padding: 0px; }
img { border: 0px none; vertical-align: middle; }
li { list-style: none outside none; }
i, em, u, cite { font-style: normal; }
a { color: rgb(119, 119, 119); font-family: dotum,verdana,arial,applegothic,sans-serif; font-size: 12px; text-decoration: none; }
a:hover { text-decoration: none; }
form { display: inline; }
select, input, textarea { color: rgb(102, 102, 102); font-family: dotum,verdana,arial,applegothic,sans-serif; font-size: inherit; vertical-align: middle; }

#container { padding-top: 35px; width: 100%; }
#sidenav { position: relative;   width: 160px; }
#navigation { visibility: hidden; position: relative; float: right; width: 155px; height: 100%; padding-bottom: 0px; background: none repeat scroll 0% 0% rgb(27, 163, 169); }
#navigation.active { visibility: visible; }
#navigation .depth2_bg { position: absolute; top: 95px; left: -8px; width: 166px; height: 40px; background: url('bg_lnbover6.png') no-repeat scroll 0px 0px transparent; z-index: 10; }
#navigation ul {  }
#navigation li { line-height: 0; font-size: 0px; }
#navigation li.last { padding-bottom: 40px; }
#navigation li a img { vertical-align: top; }
#navigation li a { position: relative; display: block; padding: 8px 0px 8px 20px; z-index: 50; }
#navigation.class100 { background: none repeat scroll 0% 0% rgb(243, 125, 10); }
#navigation.class100 .depth2_bg { background: url('../images/bg_lnbover1.png') no-repeat scroll 0px 0px transparent; }
