table.grid-table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table.grid-table th {
	position: relative;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.grid-table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

table.grid-table th a{
	padding: 0 10px;
}

a {
	text-decoration: none;
}

table.grid-table td a {
	margin: 0 2px;
	padding: 4px;
}

table.grid-table th span {
	width: 0;
	height: 0;
	position: absolute;
	display: block;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	right: 4px;
}

table.grid-table th span.up{
	top: -2px;
	border-bottom-color: #736d6d;
}

table.grid-table th span.down{
	bottom: -2px;
	border-top-color: #736d6d;
}

table.grid-table th span.up:hover,table.grid-table th span.onup{
	border-bottom-color: #d47070;
}

table.grid-table th span.down:hover,table.grid-table th span.ondown{
	border-top-color: #d47070;
}




